@page "/manage"
@rendermode InteractiveServer

<PageTitle>Manage</PageTitle>

<h1>Manage Element Status</h1>

<div>
    <ShowElement elementName="Rope Drop"/>
    <ShowElement elementName="Ball Launch"/>
    <ShowElement elementName="Flip Truck"/>
    <ShowElement elementName="Pit 6"/>
</div>