.status-toggle[b-cz1s3vrwab] {
    align-content: center;
    justify-content: center;
    display: block;
    position: relative;
    width: 125px;
    height: 35px;
    gap: 15px;
    background-color: lightblue;
    margin: 5px;
    border-radius: 5px;
}
