.show-element[b-ox4xbh8sei] {
    display: none
}
/*
label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(190, 64, 64);
}

.show-element:checked + label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(81, 236, 75);
}
*/

.switch[b-ox4xbh8sei] {
display: flex;
width: 150px;
height: 50px;
margin: 5px;
border-radius: 5px;
}

.switch input[b-ox4xbh8sei] {
opacity: 0;
width: 0;
height: 0;
}

.toggle[b-ox4xbh8sei] {
display: flex;
justify-content: center;
align-items: center;
width: 150px;
height: 50px;
margin: 5px;
border-radius: 5px;
background-color: #f04e4e;
transition: .2s;
}

input:checked + .toggle[b-ox4xbh8sei] {
background-color: #3fdf54;
}